body.default {
    background-color: #FFFFFF;
}

div.default {
    background-color: #FFFFFF;
}

table.default {
	border: none;
	border-collapse: collapse;
	padding: 5px;
	width: 100%
}

th.default {
	font-family: "Times New Roman";
	border: none;
	border-collapse: collapse;
	padding: 5px;
	text-align: left;
}

tr.default {
	border: none;
	border-collapse: collapse;
	padding: 5px;
}

td.default {
	font-family: "Times New Roman";
}

h1.default {
    	color: black;
	font-family: "Times New Roman";
    	text-align: left;
	font-size: 20px;
	font-weight: none;
}


h2.default {
    	color: black;
	font-family: "Times New Roman";
    	text-align: left;
	font-size: 18px;
	font-weight: none;
}

p.default {
	color: black;
    	font-family: "Times New Roman";
    	font-size: 14px;
}