<!DOCTYPE html>
<html lang="en">
<head>
<!--Angular library-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<!--JQuery library-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--Style 0 - Default-->
<link rel="stylesheet" type="text/css" href="Wrighton_PlotHookGenerator_Default.css">
<!--Style 1 - Halloween-->
<link rel="stylesheet" type="text/css" href="Wrighton_PlotHookGenerator_Style1.css">
<!--Style 2 - Jungle-->
<link rel="stylesheet" type="text/css" href="Wrighton_PlotHookGenerator_Style2.css">
<!--Style 3 - Parchment-->
<link rel="stylesheet" type="text/css" href="Wrighton_PlotHookGenerator_Style3.css">
<!--Font links for CSS-->
<link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'><!--Parchment style-->
<link href='https://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'><!--Halloween style-->
<link href='https://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'><!--Jungle paragraph style-->
<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'><!--Jungle header style-->

<!--TODO: make CSS more interesting-->
<!--TODO: add styles to dynamically generated table-->
<!--TODO: Hide the table headers when no NPCs have been generated-->
<!--TODO: Add 'lock' buttons so the inputs won't change when locked-->
<!--TODO: Add some gender checking to names/job descriptions-->
<!--TODO: Convert the font sizes to percentage, add minimum sizes for different screen sizes-->
<!--TODO: Table text, input boxes need some CSS-->
<!--set everything to default at first to clear out existing style sheet - helps with cross-browser display issues-->
<!--Need to add some backup fonts if chosen fonts do not exist in the user's environment-->
<!--The Generate NPC data functions can be made into the same function - feed the array and get back a random value-->

</head>

<body onload="setUpForm()">

<!--Add default values and randomization-->
<div ng-app="setSeed" ng-controller="seedValues">
<p> Settlement Name: <input type="text" id="cityName" ng-model="cityname"></p>
<p> Settlement description (town, city, village, etc.): <input type="text" id="cityDescript" ng-model="citytype"></p> 
<p> Weather description: <input type="text" id="weatherDescript" ng-model="weatherdescript"></p>

<input type="submit" onclick="makeAdventure()" value="Generate Now">

<!--make this dynamic-->
<p>CSS style:</p> 
<select id="styleDropdown" onchange="onDropDownChange()">
  <option value="default">Default</option>
  <option value="style1">Style 1</option>
  <option value="style2">Style 2</option>
  <option value="style3">Style 3</option>
</select>



<div>
<h1 id="mainTitle">Random Setting Generator</h1>
</div>

<div>
<h2 id="firstTitle">Setting the Scene</h2>
<p id="firstPara">Your party approaches the {{citytype}} of {{cityname}} late in the evening. The weather is {{weatherdescript}} but your compatriots are enthusiastic. Rumor has it that a festival is about to take place and it is open to the public.</p>
</div>

<div>
<h2 id="secondTitle">Important NPCs</h2><!--maybe make this a list of 3-7 NPCs?-->
<p id="secondPara">3-7 NPCs the players may interact with over the course of the adventure:</p>
</div>

</div>
<!--should have an ENUM for age - young adult, old, etc...not a number because who says they can't be an elf or something?-->
<!--Name, age, job (mayor, blacksmith, etc.), description notes-->
<table id="NPCTable">
  	<tr>
   		<th>Name</th>
   		<th>Age<abbr title="Ages generated are between 14 and 65">*</abbr></th>
   		<th>Position</th>
   		<th>Description</th>
 	</tr>

</table>
</div>

<div>
<h2 id="thirdTitle">Obstacles, Twists, and Important Notes</h2><!--get NPC name and add notes-->
<p id="thirdPara" onMouseOver="onRollover(this)" onMouseOut="onRollout(this)">Roll over this text to see twists, notes, and so on about the NPCs.</p>
</div>

</div>

</body>
<script language="javascript">
//Angular controller
var mod = angular.module('setSeed', []);
mod.controller('seedValues', function($scope) {
	$scope.cityname = seedCityName();
	$scope.citytype = seedCityType();
	$scope.weatherdescript = seedWeatherDescription();


/*******SCENE SETTING*******/

function seedCityName()
{
var prefix;
var suffix;

//need to make sure prefix and suffix don't match
while (prefix == suffix)
{
prefix = getCityPrefix();
suffix = getCitySuffix();
}

return (prefix+suffix);
}

function getCityPrefix()
{
var prefixList = ["Merry", "Stead", "Red", "Green", "Hart", "Dark", "Sunny", "Gold", "Silver", "Copper", "Clear", "Sweet", "River", "Deep", "Ever", "Coast", "Ice", "Rain", "Bright", "Shatter", "White", "Black", "Cherry", "Apple", "Birch", "Oak", "Maple", "Pine", "Arbor", "Ash"]; 

var prefix = prefixList[Math.floor((Math.random() * prefixList.length))];

return prefix;

}

function getCitySuffix()
{
var suffixList = ["vale", "ville", "ton", "stead", "shade", "river", "wick", "view", "wood", "hill", "dale", "mount", "valley", "sand", "gloam", "gloom", "march", "plains", "peak", "crossing", "stake", "field", "town"]; 

var suffix = suffixList[Math.floor((Math.random() * suffixList.length))];

return suffix;
}


function seedCityType()
{
var cityTypeList = ["village", "town", "settlement", "hamlet", "city", "community", "parish", "region"]; 

var townType = cityTypeList[Math.floor((Math.random() * cityTypeList.length))];

return townType;

}

function seedWeatherDescription()
{
var weatherTypeList = ["wet", "hot", "humid", "dry", "sunny", "overcast", "cold", "mild", "damp", "frigid", "rainy", "snowy", "freezing", "cloudy", "breezy", "windy", "clear", "balmy", "bright"]; 

var weatherType = weatherTypeList[Math.floor((Math.random() * weatherTypeList.length))];

return weatherType;

}
/*******END SCENE SETTING*******/


});
/*******END ANGULAR CONTROLLER CODE*******/

//should add checking to make sure the page is loaded
function setUpForm()
{
	//Set CSS style sheet
	setStyle("default");
}

//triggered on button click
function makeAdventure()
{

	//make people to meet
	generateNPC();


}


function generateNPC()
{
	//generate between 3 and 7 NPCs
	var numberNPC = Math.floor((Math.random() * 5) + 3);

	var npcTable = document.getElementById("NPCTable");

	//generate a populated row for each new NPC
	for (x = 0; x < numberNPC; x++)
	{
		//create the new row for the table
		var newRow = NPCTable.insertRow(1); //Note: the header is at 0

		//populate each cell
		
		var nameCell = newRow.insertCell(0);
		nameCell.innerHTML = seedPersonName();

		var ageCell = newRow.insertCell(1);
		ageCell.innerHTML = seedPersonAge();

		var rankCell = newRow.insertCell(2);
		rankCell.innerHTML = seedPersonRank();

		var descCell = newRow.insertCell(3);
		descCell.innerHTML = seedPersonDescription();
	}

	var style = document.getElementById("styleDropdown").value;
	setStyle(style);

}

/*******IN PROGRESS - These might be better in an external file*******/

/*******PEOPLE*******/
function seedPersonName()
{
/*
Aaron
Abegail
Abraham
Adair
Adalynn
Adelaide
Alyx

Baldric
Baldwin
Barclay
Barrett
Barrie
Beatrice
Belinda

Caden
Caelan
Caitlyn
Camron
Carissa
Caryn
Cecil

Damion
Daren
David
Deborah
Dederick
Demetria
Dillan

*/

var nameList = ["Aaron", "Abegail", "Abraham", "Adair", "Adalynn", "Adelaide", "Alyx", 
"Baldric", "Baldwin", "Barclay", "Barrett", "Barrie", "Beatrice", "Belinda", 
"Caden", "Caelan", "Caitlyn", "Camron", "Carissa", "Caryn", "Cecil", 
"Damion", "Daren", "David", "Deborah", "Dederick", "Demetria", "Dillan"];

var nameNPC = nameList[Math.floor((Math.random() * nameList.length))];

return nameNPC;


}


function seedPersonAge()
{
//just do a number between 14 and 65 - later add age categories
/*
child
elder
young adult
middle age
infant

*/

var ageNPC = Math.floor((Math.random() * 52) + 14);

return ageNPC;
}


function seedPersonRank()
{
//need either some logic or a more gender-neutral term for 'seamstress'
var cityPositionList = ["Mayor", "Blacksmith", "Carpenter", "Brewer", "Tailor", "Seamstress", "Shepherd", "Merchant", "Mercenary", "Bard", "Tinker", "Beggar", "Miller", "Baker", "Herder", "Cutpurse", "Innkeeper", "Scullery Maid", "Housekeeper", "Governess", "Page", "Guard", "Herald", "Tanner", "Messenger", "Fisherman", "Weaver", "Prostitute", "Priest", "Acolyte", "Alchemist", "Herbalist", "Farmer", "Ranger", "Cobbler", "Hunter"];

var jobNPC = cityPositionList[Math.floor((Math.random() * cityPositionList.length))];

return jobNPC;

}


function seedPersonDescription()
{
//eye color
var eyeAdjList = ["watery", "bright", "blood-shot", "wide", "squinty", "alert", "crafty", "dark", "innocent", "sad", "doleful", "doe-like", "sharp"]; 
var eyeColorList = ["blue", "gray", "green", "hazel", "brown", "amber", "black"];

var eyeAdj = pickRandom(eyeAdjList);
var eyeColor = pickRandom(eyeColorList);


//hair color - need some gender determinator for blond(e)
var hairAdjList = ["long", "short", "wavy", "curly", "strait", "shoulder-length", "braided", "dirty", "frizzy"];
var hairColorList = ["brown", "blond", "black", "red", "auburn", "gray", "white"];

var hairAdj = pickRandom(hairAdjList);
var hairColor = pickRandom(hairColorList);

//height and build
var heightList = ["tall", "short", "average height"];
var bodyBuildList = ["stocky", "robust", "thin", "spindly", "muscular", "fat", "portly", "skeletal", "lean"];

var height = pickRandom(heightList);
var bodyBuild = pickRandom(bodyBuildList);


return (eyeAdj + " " + eyeColor + " eyes. "+ hairAdj + " " + hairColor + " hair. " + height + " and " + bodyBuild + ". ");
}

function pickRandom(array)
{
return array[Math.floor((Math.random() * array.length))];
}

/*******END PEOPLE*******/

function onRollover(paragraphObj)
{
	//show the plottwists and important notes
	paragraphObj.innerHTML = "No notes at this time.";

}

function onRollout(paragraphObj)
{
	//restore the default text
	paragraphObj.innerHTML = "Roll over this text to see twists, notes, and so on about the NPCs.";
}

function onDropDownChange()
{
	var style = document.getElementById("styleDropdown").value;
	setStyle(style);
}

function setStyle(styleName)
{
	//gets all elements
	var allElements = $("*");

	//set the new style on all elements within the body
	switch(styleName) {
   	 case "style1":
		for (var x = 0; x < allElements.length; x++) {
    		allElements[x].className = "style1";
		}

        	break;
    	case "style2":
		for (var x = 0; x < allElements.length; x++) {
    		allElements[x].className = "style2";
		}

        	break;
    	case "style3":
		for (var x = 0; x < allElements.length; x++) {
    		allElements[x].className = "style3";
		}
        
        	break;
    	default:
		for (var x = 0; x < allElements.length; x++) {
    		allElements[x].className = "default"; //"default" custom class not 'none' to avoid cross-browser display issues
		}
        
		break;
	}
}

//remove non-alphanumeric characters from inputs
function cleanString(dirtyString)
{

	dirtyString = dirtyString.replace(/[^\w\s]/g, '');

	return dirtyString;
}
</script>
</html>
